/* Underlined text status pill button */

.status-pill {
  font-size: var(--font-size-md);
  color: var(--status-pill-color);
  background: transparent;
  border: none;
  cursor: pointer;
  text-decoration: underline;
  padding: 0;
  font-family: inherit;

  &:hover {
    color: var(--status-pill-color-hover);
  }
}
