@import "tailwindcss";

:root {
  --surface-primary: #faf8f4;
  --surface-tertiary: #f2eee9;
  --border-primary: rgba(0, 0, 0, 0.1);
  --accent-green: #34e1a4;
  --accent-yellow: #e1d034;
  --foreground: #000000;
  --background: #ffffff;
}

@theme inline {
  --color-surface-primary: var(--surface-primary);
  --color-surface-tertiary: var(--surface-tertiary);
  --color-border-primary: var(--border-primary);
  --color-accent-green: var(--accent-green);
  --color-accent-yellow: var(--accent-yellow);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-poppins);
}

body {
  background: var(--surface-primary);
  color: var(--foreground);
}
